<%= form_for @story, :html => { :class => "story" } do |f| %>

    <% if @story.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @story.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :genre_id, "Genre"  %>
    <%= f.collection_select :genre_id, Genre.all, :id, :name, {}, {:class=> 'form-control'} %>
  </div>

  <div class="form-group">
    <%= f.label :title  %>
    <%= f.text_field :title, :class => 'form-control' %>
    <%= error_span(@story[:title]) %>
  </div>

  <div class="form-group">
    <%= f.label :authors_note %>
    <%= f.text_area :authors_note, :class => 'form-control', :rows => 7 %>
    <%= error_span(@story[:authors_note]) %>
  </div>


  <div class="form-group">
    <%= f.label :story %>
    <%= f.text_area :story, :class => 'form-control', :rows => 20 %>
    <%= error_span(@story[:story]) %>
  </div>

  <div class="form-group">
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            stories_path, :class => 'btn btn-default' %>
  </div>

<% end %>
